@using Techblog.Models.ViewModels;
@model EditPostRequest
@{
}
<div class="bg-light bg-opacity-25 py-2">
    <div class="container">
        <h1>Edit Post(s)</h1>
    </div>
</div>
<div class="container py-5">
    @if (Model != null)
    {
        <div class="container py-2">
            <form method="post">
                <div mb-3>
                    <label class="form-label">Id</label>
                    <input type="text" class="form-control" id="id" asp-for="Id" readonly />
                </div>
                <div mb-3>
                    <label class="form-label">Heading</label>
                    <input type="text" class="form-control" id="heading" asp-for="Heading" />
                </div>
                <div mb-3>
                    <label class="form-label">Page Title</label>
                    <input type="text" class="form-control" id="pageheading" asp-for="PageHeading" />
                </div>
                <div mb-3>
                    <label class="form-label">Short Description</label>
                    <input type="text" class="form-control" id="shortDescription" asp-for="ShortDescription" />
                </div>
                <div mb-3>
                    <label class="form-label">Content</label>
                    <textarea class="form-control" id="content" asp-for="Content"></textarea>
                </div>
                <div mb-3>
                    <label class="form-label">Url Handle</label>
                    <input type="text" class="form-control" id="urlHandle" asp-for="UrlHandle" />
                </div>
                <div class="mb-3">
                    <label class="form-label"> Featured Image Upload</label>
                    <input type="file" class="form-control" id="featuredImageUpload" />
                    @if(Model.FeaturedImageUrl != null)
                    {
                        <img src="@Model.FeaturedImageUrl" id="featureImageDisplay" style="display:block;width:300px;" />
                    }else
                    {
                        <img src="" id="featureImageDisplay" style="display:none;width:300px;" />
                    }
                </div>

                <div mb-3>
                    <label class="form-label">Featured Image Url</label>
                    <input type="text" class="form-control" id="featuredImageUrl" asp-for="FeaturedImageUrl" />
                </div>
                <div mb-3>
                    <label class="form-label" for="publishedDate">Published Date</label>
                    <input type="date" class="form-control" id="publishedDate" asp-for="PublishedDate" />
                </div>
                <div mb-3>
                    <label class="form-label">Author</label>
                    <input type="text" class="form-control" id="author" asp-for="Author" />
                </div>
                <div class="form-check" mb-3>
                    <input class="form-check-input" type="checkbox" id="visible" asp-for="Visible" />
                    <label class="form-check-label">
                        Visible?
                    </label>
                </div>
                <div class="mb-3">
                    <label class="form-label">Tags</label>
                    <select class="form-select" asp-items="@Model.Tags" asp-for="SelectedTags">
                    </select>
                </div>

                <div mb-3 class="d-flex">
                    <button type="submit" class="btn" style="background: #1A1F71; color: #FAFAFA;border-radius: 10px"> Update </button>

                    <button type="submit" class="btn ms-2" style="background: red; color: #FAFAFA;border-radius: 10px" asp-area="" asp-controller="AdminPosts" asp-action="Delete"> Delete </button>

                </div>

            </form>

        </div>
    }
    else
    {
        <p>No Soccer Posts Found</p>
    }
</div>
@section Scripts{
    <script>
        var editor = new FroalaEditor('#content', {
            imageUploadURL: '/api/images'
        });

        const featuredImage = document.getElementById('featuredImageUpload');
        const featuredImageUrl = document.getElementById('featuredImageUrl');
        const featureImageDisplay = document.getElementById('featureImageDisplay');

        async function uploadFeaturedImage(e) {
            console.log(e.target.files[0])

            let data = new FormData();
            data.append('file', e.target.files[0]);

            await fetch('/api/images', {
                method: 'POST',
                headers: {
                    'accept': '*/*',
                },
                body: data
            }).then(response => response.json()).then(result => {
                featuredImageUrl.value = result.link;
                featureImageDisplay.src = result.link;
                featureImageDisplay.style.display = 'block';

            });
        }

        featuredImage.addEventListener('change', uploadFeaturedImage);
    </script>
}
