@using Techblog.Models.ViewModels;
@model AddTagRequest
@{
}
<div class="bg-light bg-opacity-25 py-2">
    <div class="container">
        <h1>Add Tag(s)</h1>
    </div>
</div>
<div class="container py-5">
    <form method="post">
        <div class="mb-3">
            <label class="form-label">Name</label>
            <input type="text" class="form-control" id="name" asp-for="Name" required/>
            <span class="text-danger" asp-validation-for="Name"></span>
        </div>
        <div class="mb-3">
            <label class="form-label">Display Name</label>
            <input type="text" class="form-control" id="displayName" asp-for="DisplayName" required/>
            <span class="text-danger" asp-validation-for="DisplayName"></span>
        </div>
        <div class="mb-3">
            <button class="btn" style="background: #1A1F71; color: #FAFAFA;border-radius: 10px">Save</button>
        </div>
    </form>
</div>